@use 'variaveis' as *;

.nivel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $espaco-4;

  .nivel-esquerda {
    display: flex;
    align-items: center;
  }

  .nivel-direita {
    display: flex;
    align-items: center;
  }

  @include ate-tablet {
    flex-direction: column;
    align-items: flex-start;
    gap: $espaco-3;

    .nivel-esquerda,
    .nivel-direita {
      width: 100%;
    }
  }
}
